section {
    overflow : hidden;
}
.content_wrap{
    padding-bottom : 250px;
}

.content_wrap .about{

}

.content_wrap  h1 {
    font-size: 1.2rem;
    color: blanchedalmond;
}
.content_wrap p {
    font-size: 1rem;
    line-height: 30px;
    
}
.content_wrap .about p{
    margin-top : 75px;
}
.content_wrap .about_img{
    padding-left : 17.5%;
    padding-top : 5%;
}
.content_wrap .point_wrap {
    margin-top : 120px;
}
.content_wrap .point_wrap .point {
    display: grid;
    align-items: flex-end;

}
.content_wrap .point_wrap .flex-end {
    justify-content: flex-end;

}
.content_wrap .point_wrap .point p {
    margin-bottom : 0;
}

.content_wrap .point_wrap .point_img img{
    width : 100%;
}
.about_img {}

@media (max-width : 768px){
    .content_wrap .about p br{
        display: none;
    }
    .content_wrap .about_img{
        padding : 15px;
    }
    .content_wrap .about_img img{ 
        width : 80%;
    }
    .content_wrap .point_wrap .point{
        justify-content: cneter;
    }
    .content_wrap .point_wrap .flex-end{
        justify-content: flex-start;
    }
    .content_wrap .point_wrap .point p{
        margin-bottom : 20px;
    }
    .content_wrap .point_wrap{
        margin-top : 60px;
    }
}