<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>국가식품 클라스터</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/swiper.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <script>
        $(document).ready(function() {
            AOS.init();
        });

    </script>

</head>

<body>
    <div class="header">
        <div class="inner">
            <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
            <div class="menu_wrap">
                <ul class="menu">
                    <li><a href="./sub1.html">국가식품클러스터</a></li>
                    <li>
                        <a href="./sub2_1.html"><span>행사소개</span></a>
                        <p class="depth_2">
                            <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                            <a href="./sub2_2.html">지난 익산식품대전</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub3.html"><span>푸드어택 기획전</span></a>
                        <p class="depth_2">
                            <a href="./sub3.html">참가기업 제품소개</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub4_1.html"><span>랜선 푸드어택</span></a>
                        <p class="depth_2">
                            <a href="./sub4_1.html">푸드어택 맛 보기</a>
                            <a href="./sub4_2.html">푸드어택 리뷰</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub5.html">이벤트</a>
                    </li>
                </ul>
            </div>
            <div class="menu_info">
                <div class="menu_ct_01"><a href="https://www.foodpolis.kr/">한국식품산업클러스터진흥원</a></div>
                <div class="menu_sns">
                    <a href="https://www.facebook.com/foodpolis.kr">
                        <!-- 페이스북 -->
                    </a>
                    <a href="https://www.instagram.com/foodpolis.kr/">
                        <!-- 인스타 -->
                    </a>
                    <a href="https://blog.naver.com/foodpolis1">
                        <!-- 네이버블로그 -->
                    </a>
                    <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                        <!-- 유튜브 -->
                    </a>
                </div>
                <div class="all_menu_btn win"></div>
                <div class="all_menu_btn mo"></div>
            </div>
        </div>
    </div>
    <div class="header all_menu_head">
        <div class="inner">
            <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
            <div class="menu_info">
                <div class="menu_ct_01"><a href="https://www.foodpolis.kr/">한국식품산업클러스터진흥원</a></div>
                <div class="menu_sns">
                    <a href="https://www.facebook.com/foodpolis.kr">
                        <!-- 페이스북 -->
                    </a>
                    <a href="https://www.instagram.com/foodpolis.kr/">
                        <!-- 인스타 -->
                    </a>
                    <a href="https://blog.naver.com/foodpolis1">
                        <!-- 네이버블로그 -->
                    </a>
                    <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                        <!-- 유튜브 -->
                    </a>
                </div>
                <div class="close_btn"></div>
            </div>
        </div>
        <div class="all_menu_content">
            <div class="text_ct">
                <dl>
                    <dt><a href="./sub1.html">국가식품클러스터</a></dt>
                    <dd>
                        <a href="./sub1.html">국가식품클러스터 온라인 홍보관</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub2_1.html">행사소개</a></dt>
                    <dd>
                        <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                        <em>·</em>
                        <a href="./sub2_2.html">지난 익산식품대전</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub3.html">푸드어택 기획전</a></dt>
                    <dd>
                        <a href="./sub3.html">참가기업 제품소개</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub4_1.html">랜선 푸드어택</a></dt>
                    <dd>
                        <a href="./sub4_1.html">푸드어택 맛 보기</a>
                        <em>·</em>
                        <a href="./sub4_2.html">푸드어택 리뷰</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub5.html">이벤트</a></dt>
                    <dd>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="all_menu_ft">
            (54576) 전라북도 익산시 왕궁면 국가식품로 100<br>
            한국식품산업클러스터진흥원 연락처 : 063-720-0500<br>
            Copyright(c) 한국식품산업클러스터진흥원 All rights reserved.
        </div>
    </div>
    <div class="mobile_menu_wrap">
        <div class="mobile_menu">
            <div class="menu_top">
                <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
                <div class="close_btn"></div>
            </div>
            <div class="menu_bottom">
                <div class="menu">
                    <dl>
                        <dt><a href="./sub1.html">국가식품클러스터</a></dt>
                        <dd>
                            <a href="./sub1.html">국가식품클러스터 온라인 홍보관</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub2_1.html">행사소개</a></dt>
                        <dd>
                            <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                            <a href="./sub2_2.html">지난 익산식품대전</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub3.html">국가식품 기획전</a></dt>
                        <dd>
                            <a href="./sub3.html">참가기업 제품소개</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub4_1.html">국랜선 푸드어택</a></dt>
                        <dd>
                            <a href="./sub4_1.html">푸드어택 맛 보기</a>
                            <a href="./sub4_2.html">푸드어택 리뷰</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub5.html">이벤트</a></dt>
                        <dd>
                        </dd>
                    </dl>
                </div>
                <div class="menu_info">
                    <div class="menu_ct_01"><a href="#">한국식품산업클러스터진흥원</a></div>
                    <div class="menu_sns">
                        <a href="https://www.facebook.com/foodpolis.kr">
                            <!-- 페이스북 -->
                        </a>
                        <a href="https://www.instagram.com/foodpolis.kr/">
                            <!-- 인스타 -->
                        </a>
                        <a href="https://blog.naver.com/foodpolis1">
                            <!-- 네이버블로그 -->
                        </a>
                        <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                            <!-- 유튜브 -->
                        </a>
                    </div>
                </div>
                <div class="all_menu_ft">
                    (54576) 전라북도 익산시 왕궁면 국가식품로 100<br>
                    한국식품산업클러스터진흥원 연락처 : 063-720-0500<br>
                    Copyright(c) 한국식품산업클러스터진흥원 All rights reserved.
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <!-- article -->
    <article>

    </article>

    <!-- section -->
    <div class="main">
        <div class="main_bnr main_section w_custom">
            <h3 class="main_title">주요프로그램</h3>
            <ul class="bnr_wrap clear">
                <li>
                    <a href="#"></a>
                    <div class="txt">
                        <p><strong>푸드어택 기획전</strong></p>
                        <p>푸드어택 기획전을<br>지금 바로 만나보세요</p>
                    </div>
                </li>
                <li>
                    <a href="#"></a>
                    <div class="txt">
                        <p><strong>온라인 홍보관</strong></p>
                        <p>국가식품클러스터의<br>유익한 정보를 파헤쳐보자!</p>
                    </div>
                </li>
                <li>
                    <a href="#"></a>
                    <div class="txt">
                        <p><strong>랜선 리얼 리뷰</strong></p>
                        <p>랜선으로 만나는<br>리얼한 리뷰를 확인하세요</p>
                    </div>
                </li>
                <li>
                    <a href="#"></a>
                    <div class="txt">
                        <p><strong>이벤트</strong></p>
                        <p>푸드어택기획전의<br>다양한 혜택을 누리세요</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="main_food main_section w_custom">
            <h3 class="main_title aos-init aos-animate" data-aos="fade-down" data-aos-offset="150" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out">푸드어택 맛 보기<img src="img/main/icon_youtube.png"></h3>
            <ul class="food_wrap clear aos-init aos-animate" data-aos="fade-up" data-aos-offset="0" data-aos-easing="ease-in-out">
                <li>
                    <div class="txt">
                        <p class="tit aos-init" data-aos="fade-down" data-aos-offset="150" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out"><strong>오세득의<br>국가식품클러스터<br>푸드어택</strong>
                        </p>
                        <p data-aos="fade-down" data-aos-offset="300" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out" class="aos-init">어서오세득</p>
                        <a href="#" target="_blank" class="link aos-init" data-aos="fade-down" data-aos-offset="350" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out">지금 만나러가기</a>
                    </div>
                    <div class="img_box aos-init" data-aos="fade-up" data-aos-offset="150" data-aos-delay="0" data-aos-duration="300">
                    </div>
                </li>
                <li>
                    <div class="txt">
                        <p class="tit aos-init" data-aos="fade-down" data-aos-offset="150" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out"><strong>다이어터를 위한<br>커피 마시는<br>6가지
                                방법</strong></p>
                        <p data-aos="fade-down" data-aos-offset="300" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out" class="aos-init">맛불리TV</p>
                        <a href="#t" target="_blank" class="link aos-init" data-aos="fade-down" data-aos-offset="350" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out">지금 만나러가기</a>
                    </div>
                    <div class="img_box aos-init" data-aos="fade-up" data-aos-offset="150" data-aos-delay="0" data-aos-duration="300">
                    </div>
                </li>
                <li>
                    <div class="txt">
                        <p class="tit aos-init" data-aos="fade-down" data-aos-offset="150" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out"><strong>유지어터<br>24시<br>브이로그</strong></p>
                        <p data-aos="fade-down" data-aos-offset="300" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out" class="aos-init">양수빈</p>
                        <a href="#" target="_blank" class="link aos-init" data-aos="fade-down" data-aos-offset="350" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out">지금 만나러가기</a>
                    </div>
                    <div class="img_box aos-init" data-aos="fade-up" data-aos-offset="150" data-aos-delay="0" data-aos-duration="300">
                    </div>
                </li>
            </ul>
        </div>

        <div class="main_event main_section">
            <h3 class="main_title aos-init" data-aos="fade-down" data-aos-offset="150" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out">푸드어택 싹쓰리</h3>
            <div class="event_wrap w_custom aos-init" data-aos-offset="150" data-aos="fade-up" data-aos-easing="ease-in-out">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="#" alt="푸드어택 온라인 홍보관 관람인증 이벤트"></a>
                        <div class="thumb">
                            <img src="img/main/20201120132217_7326.jpg" alt="푸드어택 온라인 홍보480관 관람인증 이벤트">
                        </div>
                        <div class="txt">
                            <h4>푸드어택 온라인 홍보관 관람인증 이벤트</h4>
                            <p>마음에 드는 홍보관 콘텐츠 관람하고 인증하면 선물을 드려요</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" alt="푸드어택 홈페이지 방문인증 이벤트"></a>
                        <div class="thumb">
                            <img src="img/main/20201120123330_4763.jpg" alt="푸드어택 홈페이지 방문인증 이벤트">
                        </div>
                        <div class="txt">
                            <h4>푸드어택 홈페이지 방문인증 이벤트</h4>
                            <p>국가식품클러스터 푸드어택 홈페이지 방문하고 선물받자</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" alt="푸드어택 기획전 구매인증 이벤트"></a>
                        <div class="thumb">
                            <img src="img/main/20201120123143_7782.jpg" alt="푸드어택 기획전 구매인증 이벤트">
                        </div>
                        <div class="txt">
                            <h4>푸드어택 기획전 구매인증 이벤트</h4>
                            <p>국가식품클러스터 제품 구매하면 푸짐한 선물이!</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>


        <div class="main_insta main_section">
            <h3 class="main_title insta_title w_custom aos-init" data-aos="fade-down" data-aos-offset="200" data-aos-delay="0" data-aos-duration="500" data-aos-easing="ease-in-out">INSTAGRAM<span>#국가식품클러스터
                    #Foodpolis #푸드어택 #간편식품 #온라인기획전</span></h3>
            <div class="instar_wrap aos-init" data-aos="fade-up" data-aos-offset="150" data-aos-easing="ease-in-out">
                <div class="instar_box swiper-container-horizontal">
                    <ul id="instafeed" class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1292.16px, 0px, 0px);">
                        <li class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201120093817_7615.png" alt="인스타그램1120-1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201130012745_7036.png" alt="인스타그램_1130_2_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201130012529_1539.png" alt="인스타그램_1130_1_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201126041356_2599.png" alt="인스타그램_1126_2_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201126040907_7171.png" alt="인스타그램_1126_1_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="5">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201125013220_9154.png" alt="인스타그램_1125_2_1">
                        </li>
                        <li class="swiper-slide swiper-slide-active" data-swiper-slide-index="0">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201120093817_7615.png" alt="인스타그램1120-1">
                        </li>
                        <li class="swiper-slide swiper-slide-next" data-swiper-slide-index="1">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201130012745_7036.png" alt="인스타그램_1130_2_1">
                        </li>
                        <li class="swiper-slide" data-swiper-slide-index="2">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201130012529_1539.png" alt="인스타그램_1130_1_1">
                        </li>
                        <li class="swiper-slide" data-swiper-slide-index="3">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201126041356_2599.png" alt="인스타그램_1126_2_1">
                        </li>
                        <li class="swiper-slide" data-swiper-slide-index="4">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201126040907_7171.png" alt="인스타그램_1126_1_1">
                        </li>


                        <li class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="5">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201125013220_9154.png" alt="인스타그램_1125_2_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201120093817_7615.png" alt="인스타그램1120-1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201130012745_7036.png" alt="인스타그램_1130_2_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201130012529_1539.png" alt="인스타그램_1130_1_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201126041356_2599.png" alt="인스타그램_1126_2_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201126040907_7171.png" alt="인스타그램_1126_1_1">
                        </li>
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="5">
                            <a href="#" target="_blank"></a>
                            <img src="img/main/20201125013220_9154.png" alt="인스타그램_1125_2_1">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_about main_section w_custom aos-init" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-out">
            <h3><img src="img/main/ft_logo.png"></h3>
            <p>원료조달부터 시제품 생산, 검사 분석, 인력공급, 수출·마케팅까지<br>식품기업을 지원합니다</p>
        </div>
    </div>
    </div>

    <!-- footer -->
    <footer>
        <h2 class="hidden">푸터영역</h2>
        <div class="ft_inner">
            <ul>
                <li><a href="https://www.mafra.go.kr/sites/mafra/index.do"><img src="./img/main/partner_img01.png" alt="농림축산식품부"></a></li>
                <li><a href="https://www.jeonbuk.go.kr/"><img src="./img/main/partner_img02.png" alt="전라북도"></a>
                </li>
                <li><a href="http://www.iksan.go.kr/index.iksan?menuCd=DOM_000002017000000000"><img src="./img/main/partner_img03.png" alt="익산시"></a></li>
                <li><a href="https://www.foodpolis.kr/"><img src="./img/main/partner_img04.png" alt="푸드폴리스"></a>
                </li>
            </ul>
            <div class="info">
                <p>(54576) 전라북도 익산시 왕궁면 국가심풀로 100</p>
                <p>한국식품산업클러스터진흥원 연락처:063-720-0500</p>
                <p>Copyright&copy;한국식품산업클러스터진흥원 All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>
