<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/sub2_2.css">
    <link rel="stylesheet" type="text/css" href="./css/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./js/header.js"></script>
    <title>행사소개-지난 익산식품대전</title>
</head>

<body>
    <div class="header">
        <div class="inner">
            <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
            <div class="menu_wrap">
                <ul class="menu">
                    <li><a href="./sub1.html">국가식품클러스터</a></li>
                    <li>
                        <a href="./sub2_1.html"><span>행사소개</span></a>
                        <p class="depth_2">
                            <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                            <a href="./sub2_2.html">지난 익산식품대전</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub3.html"><span>푸드어택 기획전</span></a>
                        <p class="depth_2">
                            <a href="./sub3.html">참가기업 제품소개</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub4_1.html"><span>랜선 푸드어택</span></a>
                        <p class="depth_2">
                            <a href="./sub4_1.html">푸드어택 맛 보기</a>
                            <a href="./sub4_2.html">푸드어택 리뷰</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub5.html">이벤트</a>
                    </li>
                </ul>
            </div>
            <div class="menu_info">
                <div class="menu_ct_01"><a href="https://www.foodpolis.kr/">한국식품산업클러스터진흥원</a></div>
                <div class="menu_sns">
                    <a href="https://www.facebook.com/foodpolis.kr">
                        <!-- 페이스북 -->
                    </a>
                    <a href="https://www.instagram.com/foodpolis.kr/">
                        <!-- 인스타 -->
                    </a>
                    <a href="https://blog.naver.com/foodpolis1">
                        <!-- 네이버블로그 -->
                    </a>
                    <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                        <!-- 유튜브 -->
                    </a>
                </div>
                <div class="all_menu_btn win"></div>
                <div class="all_menu_btn mo"></div>
            </div>
        </div>
    </div>
    <div class="header all_menu_head">
        <div class="inner">
            <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
            <div class="menu_info">
                <div class="menu_ct_01"><a href="https://www.foodpolis.kr/">한국식품산업클러스터진흥원</a></div>
                <div class="menu_sns">
                    <a href="https://www.facebook.com/foodpolis.kr">
                        <!-- 페이스북 -->
                    </a>
                    <a href="https://www.instagram.com/foodpolis.kr/">
                        <!-- 인스타 -->
                    </a>
                    <a href="https://blog.naver.com/foodpolis1">
                        <!-- 네이버블로그 -->
                    </a>
                    <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                        <!-- 유튜브 -->
                    </a>
                </div>
                <div class="close_btn"></div>
            </div>
        </div>
        <div class="all_menu_content">
            <div class="text_ct">
                <dl>
                    <dt><a href="./sub1.html">국가식품클러스터</a></dt>
                    <dd>
                        <a href="./sub1.html">국가식품클러스터 온라인 홍보관</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub2_1.html">행사소개</a></dt>
                    <dd>
                        <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                        <em>·</em>
                        <a href="./sub2_2.html">지난 익산식품대전</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub3.html">푸드어택 기획전</a></dt>
                    <dd>
                        <a href="./sub3.html">참가기업 제품소개</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub4_1.html">랜선 푸드어택</a></dt>
                    <dd>
                        <a href="./sub4_1.html">푸드어택 맛 보기</a>
                        <em>·</em>
                        <a href="./sub4_2.html">푸드어택 리뷰</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub5.html">이벤트</a></dt>
                    <dd>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="all_menu_ft">
            (54576) 전라북도 익산시 왕궁면 국가식품로 100<br>
            한국식품산업클러스터진흥원 연락처 : 063-720-0500<br>
            Copyright(c) 한국식품산업클러스터진흥원 All rights reserved.
        </div>
    </div>
    <div class="mobile_menu_wrap">
        <div class="mobile_menu">
            <div class="menu_top">
                <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
                <div class="close_btn"></div>
            </div>
            <div class="menu_bottom">
                <div class="menu">
                    <dl>
                        <dt><a href="./sub1.html">국가식품클러스터</a></dt>
                        <dd>
                            <a href="./sub1.html">국가식품클러스터 온라인 홍보관</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub2_1.html">행사소개</a></dt>
                        <dd>
                            <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                            <a href="./sub2_2.html">지난 익산식품대전</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub3.html">국가식품 기획전</a></dt>
                        <dd>
                            <a href="./sub3.html">참가기업 제품소개</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub4_1.html">국랜선 푸드어택</a></dt>
                        <dd>
                            <a href="./sub4_1.html">푸드어택 맛 보기</a>
                            <a href="./sub4_2.html">푸드어택 리뷰</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub5.html">이벤트</a></dt>
                        <dd>
                        </dd>
                    </dl>
                </div>
                <div class="menu_info">
                    <div class="menu_ct_01"><a href="#">한국식품산업클러스터진흥원</a></div>
                    <div class="menu_sns">
                        <a href="https://www.facebook.com/foodpolis.kr">
                            <!-- 페이스북 -->
                        </a>
                        <a href="https://www.instagram.com/foodpolis.kr/">
                            <!-- 인스타 -->
                        </a>
                        <a href="https://blog.naver.com/foodpolis1">
                            <!-- 네이버블로그 -->
                        </a>
                        <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                            <!-- 유튜브 -->
                        </a>
                    </div>
                </div>
                <div class="all_menu_ft">
                    (54576) 전라북도 익산시 왕궁면 국가식품로 100<br>
                    한국식품산업클러스터진흥원 연락처 : 063-720-0500<br>
                    Copyright(c) 한국식품산업클러스터진흥원 All rights reserved.
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <div id="container">

        <article>
            <h2 class="hidden">비주얼영역</h2>
            <div class="main_bg">
                <div class="main_title">
                    <h3>행사소개</h3>
                </div>
            </div>
        </article>
        <div id="wrap">
            <section>
                <h2 class="hidden">콘텐츠영역</h2>
                <div id="contents_wrap">
                    <div id="contents_box">
                        <div class="nav_wrap">
                            <div class="nav_box">
                                <h4 class="sub_title">지난 익산식품대전</h4>
                                <p>온라인으로 최초 진행된 익산 온라인식품대전을 영상으로 확인해보세요.</p>
                            </div>
                            <ul class="sub_title_tab">
                                <li><a href="./sub2_1.html">푸드어택 기획전 소개</a></li>
                                <li class="on"><a href="./sub2_2.html">지난 익산식품대전</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="content_tp">
                                <h5>2020 익산식품대전</h5>
                                <ul>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/NTNkcHQR92U" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                </ul>
                                <strong>살(Live) 맛나는 세상,살(Buy) 맛 나는 2020 익산식품대전</strong>
                                <p>최초로 온라인으로 진행된 익산 온라인식품대전을 만나보세요<br />식품산업의 메카로 자리매김하고 있는 익산의 생생한 모습을 확인할 수 있습니다.</p>
                            </div>
                            <div class="content_btm">
                                <h5>2020 익산식품대전의 맛있는 레알리뷰를 소개합니다</h5>
                                <ul class="video">
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/3689k8XwFYY" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/pnZQIsd53Ug" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/sP7-Hob3M8A" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/tRfN3LbS3SU" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/e0InGQiak30" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/pXV_7RTjXjM" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/GTHKBKIl2UE" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/fAB4nCOuVns" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/XsO1udHNVwA" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/TQhIjtx3oRg" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/eFoxHQFoa9M" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/P6BSziRmEyU" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/q71eQixbEEk" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/l9NtNk4Al2E" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/F3LswgtG0hw" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/kgTRA059l1Y" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/OKdHYJXq9OU" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/_k-nu5vs7sk" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/keFwa1UbgO8" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/3ltiN3fMB0I" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/NUVbf5O_ubY" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/5kgqY6iA4_E" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/meraN7gmVXA" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/kq2BjJaQFwo" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/V3cyih_daxU" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/mK1Oor0wZlc" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/ZsqLF5tFKRs" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/AUlCUPuBISU" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/MVMIqMTxukI" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/_OT6K4RMrvQ" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/LVy6hoOhY6s" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video_box">
                                            <iframe src="https://www.youtube.com/embed/xJ71AirpXDk" width="100" height="100"></iframe>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <h2 class="hidden">푸터영역</h2>
            <div class="ft_inner">
                <ul>
                    <li><a href="https://www.mafra.go.kr/sites/mafra/index.do"><img src="./img/main/partner_img01.png" alt="농림축산식품부"></a></li>
                    <li><a href="https://www.jeonbuk.go.kr/"><img src="./img/main/partner_img02.png" alt="전라북도"></a></li>
                    <li><a href="http://www.iksan.go.kr/index.iksan?menuCd=DOM_000002017000000000"><img src="./img/main/partner_img03.png" alt="익산시"></a></li>
                    <li><a href="https://www.foodpolis.kr/"><img src="./img/main/partner_img04.png" alt="푸드폴리스"></a></li>
                </ul>
                <div class="info">
                    <p>(54576) 전라북도 익산시 왕궁면 국가심풀로 100</p>
                    <p>한국식품산업클러스터진흥원 연락처:063-720-0500</p>
                    <p>Copyright&copy;한국식품산업클러스터진흥원 All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
