<!DOCTYPE html>
<html lang="en">

<head>
    <title>푸드어택 기획전</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic">
    <link rel="stylesheet" type="text/css" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/sub3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/sub3.js"></script>
    <script src="js/header.js"></script>
</head>

<body>
    <div class="header">
        <div class="inner">
            <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
            <div class="menu_wrap">
                <ul class="menu">
                    <li><a href="./sub1.html">국가식품클러스터</a></li>
                    <li>
                        <a href="./sub2_1.html"><span>행사소개</span></a>
                        <p class="depth_2">
                            <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                            <a href="./sub2_2.html">지난 익산식품대전</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub3.html"><span>푸드어택 기획전</span></a>
                        <p class="depth_2">
                            <a href="./sub3.html">참가기업 제품소개</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub4_1.html"><span>랜선 푸드어택</span></a>
                        <p class="depth_2">
                            <a href="./sub4_1.html">푸드어택 맛 보기</a>
                            <a href="./sub4_2.html">푸드어택 리뷰</a>
                        </p>
                    </li>
                    <li>
                        <a href="./sub5.html">이벤트</a>
                    </li>
                </ul>
            </div>
            <div class="menu_info">
                <div class="menu_ct_01"><a href="https://www.foodpolis.kr/">한국식품산업클러스터진흥원</a></div>
                <div class="menu_sns">
                    <a href="https://www.facebook.com/foodpolis.kr">
                        <!-- 페이스북 -->
                    </a>
                    <a href="https://www.instagram.com/foodpolis.kr/">
                        <!-- 인스타 -->
                    </a>
                    <a href="https://blog.naver.com/foodpolis1">
                        <!-- 네이버블로그 -->
                    </a>
                    <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                        <!-- 유튜브 -->
                    </a>
                </div>
                <div class="all_menu_btn win"></div>
                <div class="all_menu_btn mo"></div>
            </div>
        </div>
    </div>
    <div class="header all_menu_head">
        <div class="inner">
            <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
            <div class="menu_info">
                <div class="menu_ct_01"><a href="https://www.foodpolis.kr/">한국식품산업클러스터진흥원</a></div>
                <div class="menu_sns">
                    <a href="https://www.facebook.com/foodpolis.kr">
                        <!-- 페이스북 -->
                    </a>
                    <a href="https://www.instagram.com/foodpolis.kr/">
                        <!-- 인스타 -->
                    </a>
                    <a href="https://blog.naver.com/foodpolis1">
                        <!-- 네이버블로그 -->
                    </a>
                    <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                        <!-- 유튜브 -->
                    </a>
                </div>
                <div class="close_btn"></div>
            </div>
        </div>
        <div class="all_menu_content">
            <div class="text_ct">
                <dl>
                    <dt><a href="./sub1.html">국가식품클러스터</a></dt>
                    <dd>
                        <a href="./sub1.html">국가식품클러스터 온라인 홍보관</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub2_1.html">행사소개</a></dt>
                    <dd>
                        <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                        <em>·</em>
                        <a href="./sub2_2.html">지난 익산식품대전</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub3.html">푸드어택 기획전</a></dt>
                    <dd>
                        <a href="./sub3.html">참가기업 제품소개</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub4_1.html">랜선 푸드어택</a></dt>
                    <dd>
                        <a href="./sub4_1.html">푸드어택 맛 보기</a>
                        <em>·</em>
                        <a href="./sub4_2.html">푸드어택 리뷰</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="./sub5.html">이벤트</a></dt>
                    <dd>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="all_menu_ft">
            (54576) 전라북도 익산시 왕궁면 국가식품로 100<br>
            한국식품산업클러스터진흥원 연락처 : 063-720-0500<br>
            Copyright(c) 한국식품산업클러스터진흥원 All rights reserved.
        </div>
    </div>
    <div class="mobile_menu_wrap">
        <div class="mobile_menu">
            <div class="menu_top">
                <div class="logo"><a href="./index.html"><img src="img/main/logo.png" alt="로고이미지"></a></div>
                <div class="close_btn"></div>
            </div>
            <div class="menu_bottom">
                <div class="menu">
                    <dl>
                        <dt><a href="./sub1.html">국가식품클러스터</a></dt>
                        <dd>
                            <a href="./sub1.html">국가식품클러스터 온라인 홍보관</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub2_1.html">행사소개</a></dt>
                        <dd>
                            <a href="./sub2_1.html">푸드어택 기획전 소개</a>
                            <a href="./sub2_2.html">지난 익산식품대전</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub3.html">국가식품 기획전</a></dt>
                        <dd>
                            <a href="./sub3.html">참가기업 제품소개</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub4_1.html">국랜선 푸드어택</a></dt>
                        <dd>
                            <a href="./sub4_1.html">푸드어택 맛 보기</a>
                            <a href="./sub4_2.html">푸드어택 리뷰</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./sub5.html">이벤트</a></dt>
                        <dd>
                        </dd>
                    </dl>
                </div>
                <div class="menu_info">
                    <div class="menu_ct_01"><a href="#">한국식품산업클러스터진흥원</a></div>
                    <div class="menu_sns">
                        <a href="https://www.facebook.com/foodpolis.kr">
                            <!-- 페이스북 -->
                        </a>
                        <a href="https://www.instagram.com/foodpolis.kr/">
                            <!-- 인스타 -->
                        </a>
                        <a href="https://blog.naver.com/foodpolis1">
                            <!-- 네이버블로그 -->
                        </a>
                        <a href="https://www.youtube.com/channel/UCcdXmMG59sjCxLyINIlTW2Q/featured">
                            <!-- 유튜브 -->
                        </a>
                    </div>
                </div>
                <div class="all_menu_ft">
                    (54576) 전라북도 익산시 왕궁면 국가식품로 100<br>
                    한국식품산업클러스터진흥원 연락처 : 063-720-0500<br>
                    Copyright(c) 한국식품산업클러스터진흥원 All rights reserved.
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <article>
        <h2 class="hidden">비주얼영역</h2>
        <div class="main_bg">
            <div class="main_title">
                <h3>푸드어택 기획전</h3>
            </div>
        </div>
    </article>

    <section>
        <h2 class="hidden">콘텐츠영역</h2>
        <div id="container">
            <div class="nav_wrap">
                <h4>푸드어택 기획전 참가제품</h4>
            </div>

            <div class="content_wrap">
                <div class="banner">
                    <h1><a href="#"><img src="./img/sub3/ico_pd_coupang.png" alt="logo"></a></h1>
                    <p>특별히 엄선한 제품을 <strong>할인된 가격</strong>으로!!</p>
                    <div class="event"><a href="">기획전 바로가기</a></div>
                </div>
                <div class="search">
                    <div class="border_search">
                        <select>
                            <option value="name" selected="selected">기업명</option>
                            <option value="title">상품명</option>
                        </select>
                        <input type="text" class="input_text">
                        <input type="submit" class="btn_default" value="검색">
                    </div>
                </div>
            </div>

            <div class="content">
                <ul>
                    <li>
                        <div class="thumb">
                            <a href="#">

                                <img src="./img/sub3/1.png" alt=""></a>

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/2.png" alt="">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/3.png" alt="">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/4.png" alt="">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/5.png" alt="">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/6.png" alt="">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/7.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/8.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/9.jpg" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/10.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/11.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/12.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/13.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/14.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/15.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/16.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/17.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/18.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/19.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/20.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/21.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/22.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/23.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/24.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/25.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/26.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/27.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/28.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/29.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/30.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/31.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/32.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/33.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/34.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/35.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/36.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/37.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/38.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/39.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/40.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/41.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/42.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/43.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/44.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/45.png" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <a href="#"></a>
                            <img src="./img/sub3/46.jpg" alt="워커비 허니초코">

                            <div class="text">
                                <p>로컬윅스</p>
                                <h3>워커비 허니 초코</h3>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </section>
    <footer>
        <h2 class="hidden">푸터영역</h2>
        <div class="ft_inner">
            <ul>
                <li><a href="https://www.mafra.go.kr/sites/mafra/index.do"><img src="./img/main/partner_img01.png" alt="농림축산식품부"></a></li>
                <li><a href="https://www.jeonbuk.go.kr/"><img src="./img/main/partner_img02.png" alt="전라북도"></a>
                </li>
                <li><a href="http://www.iksan.go.kr/index.iksan?menuCd=DOM_000002017000000000"><img src="./img/main/partner_img03.png" alt="익산시"></a></li>
                <li><a href="https://www.foodpolis.kr/"><img src="./img/main/partner_img04.png" alt="푸드폴리스"></a>
                </li>
            </ul>
            <div class="info">
                <p>(54576) 전라북도 익산시 왕궁면 국가심풀로 100</p>
                <p>한국식품산업클러스터진흥원 연락처:063-720-0500</p>
                <p>Copyright&copy;한국식품산업클러스터진흥원 All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>
