@charset "utf-8";

  	/* 초기화 */
  	body,div,footer,h2,ul,li,img,p{margin: 0; padding: 0;}
  	.hidden{display: none;}
  	a{text-decoration: none; color: #000; }
  	ul,li{list-style:none;}


  	/* 푸터영역 */
  	footer{max-width: 1900px; margin: 0 auto; background: #f5f5f5; margin-top: 80px; clear: both; overflow: hidden;}
    .ft_inner{max-width: 1100px; margin: 0 auto; padding: 40px 0; text-align: center;}
    .ft_inner ul {max-width: 600px; width:100%; margin: 0 auto;}
    .ft_inner ul li{ display: inline-block; margin-left: 2%;}
    .ft_inner ul li img{vertical-align: middle; max-width: 100%; cursor: pointer;}
    .info{margin-top: 10px;}
    .info p{padding-top: 13px; color: #333; font-size: 14px;}
    .info p:nth-child(1){font-weight: 600;}

    @media only screen and (max-width:542px) and (min-width: 375px){
      footer .ft_inner ul{width: 80%;}
      footer .ft_inner ul li {width: 21%;}
    }

    @media only screen and (max-width:240px) {
      footer .ft_inner ul li {width: 90%; }
    }
