/* 메인페이지 */
body, header, div, nav, article, input, section, footer, h1, h2, h3, h4, h5, h6, hr, ul, li, p, dl, dt, dd, p { margin: 0px; padding: 0px; }
.hidden { display: none;}
input, hr { border: none; }
ul, li { list-style: none; }
a { text-decoration: none; }
.win { display: block !important; }
.mo { display: none !important; }

/* header */
.header{ position:relative; height:86px; width:100%; top:0; left:0; z-index: 99; background:#fff; border-bottom:1px solid #ddd; }
.header .inner{width:100%;height: 86px;}
.header .logo{ position: absolute; left: 50px; top: 22px; }
.header .logo a{ display: block; }
.header .logo a img{ display: block;}
.header .menu_wrap{padding: 18px 0;}
.header .menu{text-align: center;margin: 0 auto;width: 731px;}
.header .menu:after{ content:''; display:block; clear:both; }
.header .menu li{float: left;margin-right: 20px;position: relative;}
.header .menu li a{display: block;color: #333;line-height: 48px;padding: 0 10px;font-weight: bold;}
.header .menu li:hover a span{border-bottom: 2px solid rgb(255,102,0);}
.header .menu li:first-child a{background: #ed6d4e;color: #fff;border-radius: 4px;border: 0;padding: 0 15px;line-height: 48px;}
.header .menu li:first-child a{background: #ed6d4e;color: #fff;border-radius: 4px;border: 0;padding: 0 15px;line-height: 48px;}
.header .menu li:last-child{ margin-right:0; }
.header .menu li p{position: absolute;z-index: 9;width: 190px;text-align: left;padding: 25px 20px;background: #fff;box-shadow: 3px 3px 6px rgba(0,0,0,0.1);display:none;border: 1px solid #eee;}
.header .menu li p a{font-size: 14px;line-height: 1.2;padding: 0;margin-bottom: 10px;color: #888;}
.header .menu li p a::before{content:'·';display:inline-block;line-height: 18px;margin-right: 6px;}
.header .menu li p a:last-child{margin: 0;}
.header .menu li p a:hover{color:#333;}
.header .menu li:hover > p{ display:block; }
.menu_info{position: absolute;right: 50px;top: 22px;}
.menu_info .menu_ct_01{width: 212px;line-height:37px;border-radius:19px;border:1px solid #ddd;float: left;overflow: hidden;margin-right: 8px;}
.menu_info .menu_ct_01 a{font-size:11px;display:block;padding:0 16px;background: #fff url(../img/main/icon_logo.png) no-repeat left 16px center;padding-left: 48px;color: #333;}
.menu_info .menu_sns{float: left;}
.menu_info .menu_sns:after{ content:''; display:block; clear:both; }
.menu_info .menu_sns a{ display:block; float:left; width:36px; height:36px; background-repeat: no-repeat; background-position: center; margin-right:8px;}
.menu_info .menu_sns a:nth-child(1){ background-image: url(../img/main/hd_sns01.png); }
.menu_info .menu_sns a:nth-child(2){ background-image: url(../img/main/hd_sns02.png); }
.menu_info .menu_sns a:nth-child(3){ background-image: url(../img/main/hd_sns03.png); }
.menu_info .menu_sns a:nth-child(4){ background-image: url(../img/main/hd_sns04.png); }
.menu_info .menu_sns a:last-child{ margin-right:0; }
.all_menu_btn{width: 30px;height:36px;background: #fff url(../img/main/icon_all_menu.png) no-repeat center;float: left;margin-left: 20px;cursor: pointer;}
.close_btn{ width: 32px; height:32px; background: #fff url(../img/main/popup_close2.png) no-repeat center;  float: left;margin-left: 20px;cursor: pointer;}

/* header popup */
.all_menu_head{position: fixed;width: 100%;height: 100%;background: #fff;bottom:100%;top: auto;transition: bottom 0.6s;}
.all_menu_head.on{ bottom:0; }
.all_menu_head .all_menu_content{position: absolute;top: 260px;text-align: center;width: 100%;left: 0;display: table;}
.all_menu_head .all_menu_content .text_ct{text-align: center;width: 1329px;position: absolute;left: calc(50% - 664px);}
.all_menu_head .all_menu_content .text_ct:after{ content:''; display:block; clear:both; }
.all_menu_head .all_menu_content .text_ct dl{width: 664px;text-align: left;line-height: 54px;margin-bottom: 50px;float: left;}
.all_menu_head .all_menu_content .text_ct dl:after{ content:''; display:block; clear:both; }
.all_menu_head .all_menu_content .text_ct dl dt{float: left;margin-right: 20px;width: 327px;font-size: 40px;font-weight: bold;}
.all_menu_head .all_menu_content .text_ct dl dt a{color: #333;}
.all_menu_head .all_menu_content .text_ct dl dd{float: left;line-height: 2;padding-top: 23px;}
.all_menu_head .all_menu_content .text_ct dl dd a{color: #333;}
.all_menu_head .all_menu_content .text_ct dl dd a:hover{color: #ed6d4e;}
.all_menu_head .all_menu_content .text_ct dl dd em{line-height:21px;font-size:16px;font-weight: bold;font-style: normal;margin:0 5px;display: inline-block;}
.all_menu_head .all_menu_ft{position: absolute;bottom: 100px;text-align: center;width: 100%;left: 0;line-height: 2;font-size: 12px;color: #666;}

/* mobile menu */
.mobile_menu{position: fixed;right: -100%;top: 0;z-index: 999;background: #fff;height: 100%;width: 490px; transition:all 1s;}
.mobile_menu.on{right:0;}
.mobile_menu .menu_top{position: relative;height: 86px;}
.mobile_menu .menu_top .logo{position: absolute;left: 20px;top: 22px;}
.mobile_menu .menu_top .logo a{ display: block; }
.mobile_menu .menu_top .logo a img{ display: block;}
.mobile_menu .menu_top .close_btn{right:20px;position: absolute;top: 21px;background-size: contain;}
.mobile_menu .menu_bottom{padding: 0 20px;height: calc(100% - 86px);overflow: auto;padding-bottom: 40px;}
.mobile_menu .menu_bottom .menu{margin-bottom: 80px;}
.mobile_menu .menu_bottom .menu dl{margin-bottom: 40px;}
.mobile_menu .menu_bottom .menu dl dt{margin-bottom: 5px;}
.mobile_menu .menu_bottom .menu dl dt a{font-size: 22px; font-weight: bold; color: #333;}
.mobile_menu .menu_bottom .menu dl dd a{display: block;color: #333; font-size:14px;}
.mobile_menu .menu_bottom .menu dl dd a::before{content:'·';display:inline-block;line-height: 21px;margin-right: 6px;}
.mobile_menu .menu_bottom .menu dl dd a:hover{color:#ed6d4e;}
.mobile_menu .menu_bottom .menu_info{ position: static; }
.mobile_menu .menu_bottom .menu_info .menu_ct_01{float: none;margin-bottom: 20px;}
.mobile_menu .menu_bottom .menu_info .menu_sns{float: none;margin-bottom: 20px;}
.mobile_menu .menu_bottom .all_menu_ft{font-size: 12px;line-height: 2.4;color: #666;}
.bg{position: fixed;z-index: 99;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.7); display:none;}

@media screen and (max-width: 1660px) { 
    .header .menu{ margin-left: 300px; }
}

@media screen and (max-width: 1500px) { 
    .header .menu_ct_01,
    .header .menu_sns{display:none;}
}
@media screen and (max-width: 1090px) { 
    .win{ display:none !important; }
    .mo{ display:block !important; }
	.mobile_menu { width:100%;}
    .menu_info{ right:20px; }
    .header .logo{ left:20px; }
    .header .menu{ display:none; }
}

@media screen and (max-width: 360px) { 
    .mobile_menu { width:100%;}
}

/* layer popup 영역 */
#divpop { position: absolute; top: 100px; width: 100%; }
#divpop img { width: 300px; position: absolute; left: 12%; }
.hidden { display: none; }
.close2 { width: 280px; height: 70px; right: 12%; position: absolute; z-index: 10;}

/* article 영역 */

/* section 영역 */

/* contents1 영역 */
div.contents1 { width: 100%; height: 812px; overflow-x: scroll; overflow-y: hidden; position: relative; background: url("../img/sub1/sub_about_img.jpg"); }
div.contents1 a { color: white; }
div.contents1 div { position: absolute; cursor: pointer; }

div.contents1 div.red { width: 230px; height: 160px; top: 435px; left: 420px; }
div.contents1 div.red1 { top: 438px; left: 650px; padding: 8px; border-radius: 10px; background: #bd0109; color: white; width: 150px; text-align: center; box-shadow: 3px 3px 3px rgba(0,0,0,.3); font-weight: bold; }
div.contents1 div.red1:after { border-top: 15px solid #bd0109; border-left: 18px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; content: ""; position: absolute; top: 10px; left: -15px; }

div.contents1 div.green { width: 210px; height: 168px; top: 480px; left: 850px; }
div.contents1 div.green1 { top: 490px; left: 595px; padding: 8px; border-radius: 10px; background: #58b42b; color: white; width: 220px; text-align: center; box-shadow: 3px 3px 3px rgba(0,0,0,.3); font-weight: bold; }
div.contents1 div.green1:after { border-top: 15px solid #58b42b; border-right: 18px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; content: ""; position: absolute; top: 10px; left: 234px; }

div.contents1 div.yellow { width: 340px; height: 168px; top: 650px; left: 785px; }
div.contents1 div.yellow1 { top: 670px; left: 545px; padding: 8px; border-radius: 10px; background: #f7c801; color: white; width: 200px; text-align: center; box-shadow: 3px 3px 3px rgba(0,0,0,.3); font-weight: bold; }
div.contents1 div.yellow1:after { border-top: 15px solid #f7c801; border-right: 18px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; content: ""; position: absolute; top: 10px; left: 215px; }

div.contents1 div.blue { width: 170px; height: 180px; top: 450px; left: 1060px; }
div.contents1 div.blue1 { top: 450px; left: 895px; padding: 8px; border-radius: 10px; background: #0463bf; color: white; width: 120px; text-align: center; box-shadow: 3px 3px 3px rgba(0,0,0,.3); font-weight: bold; }
div.contents1 div.blue1:after { border-top: 15px solid #0463bf; border-right: 18px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; content: ""; position: absolute; top: 10px; left: 135px; }

div.contents1 div.purple { width: 170px; height: 160px; top: 368px; left: 1310px; }
div.contents1 div.purple1 { top: 503px; left: 1513px; padding: 8px; border-radius: 10px; background: #b7006d; color: white; width: 220px; text-align: center; box-shadow: 3px 3px 3px rgba(0,0,0,.3); font-weight: bold; }
div.contents1 div.purple1:after { border-top: 15px solid #b7006d; border-left: 18px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; content: ""; position: absolute; top: 10px; left: -15px; }

/* contents2 영역 */
div.contents2 { margin: 0px auto; overflow: hidden;  }
div.contents2 img { width: 100%; cursor: pointer; }
.btn_01 { height:50px; }
.btn_02 { border:0px #666666 solid; }


/* 푸터영역 */
footer{max-width: 1900px; margin: 0 auto; background: #f5f5f5; margin-top: 80px; clear: both; overflow: hidden;}
.ft_inner{max-width: 1100px; margin: 0 auto; padding: 40px 0; text-align: center;}
.ft_inner ul {max-width: 600px; width:100%; margin: 0 auto;}
.ft_inner ul li{ display: inline-block; margin-left: 2%;}
.ft_inner ul li img{vertical-align: middle; max-width: 100%; cursor: pointer;}
.info{margin-top: 10px;}
.info p{padding-top: 13px; color: #333; font-size: 14px;}
.info p:nth-child(1){font-weight: 600;}

@media only screen and (max-width:542px) and (min-width: 375px){
    footer .ft_inner ul{width: 80%;}
    footer .ft_inner ul li {width: 21%;}
}

@media only screen and (max-width:240px) {
    footer .ft_inner ul li {width: 90%; }
}

@media only screen and (min-width: 800px) { 
    #divpop { display: none; }   
}