

/* general CSS */
body {
	background: #fff;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1100px;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}



/* main */
#home{
	position: relative;
	width: 100%;
	height: 900px;
	background: url(../images/main.jpeg) no-repeat bottom center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media (max-width: 1500px) {
	#home {
		height: 100vh;
	}
}
#about {
	height:50vh;
}

/* header section */
header {
	width: 100%;
	height:80px;
	background: rgba(28, 54, 85, .2);
	position: fixed;
	z-index: 100;
}
header h1 {
	float: left;
	margin-top: 25px;
	font-size: 28px;
}
header a.hamburger {
	display: none; /* display:block; */
	float: right;
	margin-top: 41px;
	width: 24px;
	height: 19px;
	text-decoration: none;
	background: url(../images/hamburger_icon.png) no-repeat;
}
header a.hamburger.opned {
	width: 19px;
	background: url(../images/close_menu_icon.png) no-repeat;
}
header nav {
	float: right;
	opacity: 1;
}
header nav ul {
	float: left;
	margin-top: 40px;
	overflow: hidden;
	list-style: none;
}
header nav ul li {
	float: left;
	margin-left: 50px;
}
header nav ul li a{
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 16px;
	color: #fff;
}
/* about */

#about{
	margin-top:40px;
	width:100%;
	height:auto;
}
 .col-md-6 img{
	width:100%;
  height:600px;
}
.col-md-6 dl {
	margin:20%;
}
.col-md-6 dl dt{
	border-left:3px solid red;
	font-size: 40px;
	line-height: 50px;
}
.col-md-6 dl dd{
	line-height: 70px;
	font-size:24px;
}
/* album */
#Music {
background-color: rgba(0, 0, 0, 0.2);
 width:100%;
 height:auto;
}
#Music h2{
	text-align: center;
	font-size:40px;
}



#Music img{
	width:100%;
	height:20em;
	opacity: 1;
	transition: all ease 0.8s;
}
#Music img:hover{
	transform: scale(1.1);
}

.carousel-control-prev{
	color:aquamarine;
	
}
#Tour dt {
	font-size: 24px;
	line-height: 50px;
}
#Tour dd{
	font-weight: bold;
	line-height: 50px;
}
.typing {  
/*       position: absolute;*/ 
     display: inline-block; 
      animation-name: cursor; 
      animation-duration: 0.3s; 
      animation-iteration-count: infinite; 
    } 
    @keyframes cursor{ 
      0%{border-right: 1px solid #fff} 
      50%{border-right: 1px solid #000} 
      100%{border-right: 1px solid #fff} 
    }
/* media */
@media (max-width: 1150px) {
	.wrapper {
		padding: 0 40px;
		max-width: 1020px;
	}
}

@media (max-width: 800px) {
	header a.hamburger {
		display: block;
	}
	header nav {
		position: absolute;
		left: 4%; /* left: 3.636363636363636%; */
		top: 95px;
		z-index: 20;
		float: none;
		width: 92.5%; /* width: 92.72727272727273%; */
		overflow: hidden;
		background: rgba(0, 0, 0, 0.5);
		opacity: 0;
	}
	header nav.active {
		opacity: 1;
	}
	header nav ul {
		display: block;
		margin-top: 0;
		width: 100%;
		text-align: center;
	}
	header nav ul li {
		display: block;
		float: none;
		margin-left: 0;
		width: 100%;

	}
	header nav ul li a {
		display: block;
		padding: 25px 0;
		border-bottom: 1px solid #f2f3f3;

}
	header nav ul li a:active {
		background: #f2f3f3;
	}
	header nav ul li a{
		color:#fff;
	}
 	header nav ul li a:hover{
		color:red;
 }
 #about img {
	 width:100%;
	 height:auto;
 }
 #about .col-md-6{
	 font-size:16px;
 }
#Music img{
	width:100%;
	margin:0 auto;
}

.slide_btn{
	display: none;
}
}