
html {
    font-size : 14px;
}

body{
    
}
.current{color : #CC985F !important;}
a:hover {
    text-decoration: none;
}

center {
    width : 100%;
}

.container-sm{
    max-width : 720px;
}

/* header */
header {
    width : 100%;
    background :#111111;
    height : 80px;
}

header .main_pc_nav_wrap{
    display : flex;
    justify-content: space-between;
    align-items: center;
    height : 80px;
}

header .main_pc_nav_wrap ul {
    padding : 0;
    margin : 0;
    width : 60%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

header .main_pc_nav_wrap a img{
    width : 50px;
}

header .main_pc_nav_wrap ul li{
    list-style : none;
}

header .main_pc_nav_wrap ul li a{
    color : #fff;
    font-size : 1rem;
    font-weight: bold;
    transition : 0.3s;
}
header .main_pc_nav_wrap ul li a:hover{
    color : #CC985F;
}
header .main_pc_nav_wrap ul .btn{
    margin-top : 0;
    width : 160px;
    height : 45px;
}
header .main_pc_nav_wrap ul .btn::after{
    content: none;
}

header .main_pc_nav_wrap ul .btn img{
    width : 22px;
}


/* mobile header */
header .sp_nav_wrap{
    width : 100%;
    height : 55px;
    background : #111111;
    display: none;
    padding : 10px;
}




/* main section */

section {
    width : 100%;
    background-color : #171717;
    background-image : url('../img/bg_pattern02.png');
    background-position : top;
}

.btn {
    width : 304px;
    max-height : 50px;
    padding : 10px 0px;
    background-color : #C91621;
    font-size : 16px;
    font-weight : bold;
    border-radius : 0;
    margin-top : 40px;
}
.btn a{
    color : #fff;
}

.btn::after{
    content: "";
    position : absolute;
    background : url(../img/btn_arrow.png);
    background-repeat: no-repeat;
    width : 55px;
    height : 11px;
    margin-top : 4px;
    margin-left : 24px;
    transition : .5s;
}

.btn:hover::after{
    margin-left : 35px;
}

/* content */
.content_wrap{
    padding-top : 125px;
    padding-bottom : 40px;
}

.content_wrap .main_title {
    border-left : 1px solid #fff;
    padding-left : 20px;
}
.content_wrap .main_title h1{
    color :#fff;
    font-size : 2.4rem;
    font-weight : bold;
}

.content_wrap .main_title hr{
    width : 135px;
    background : #fff;
    margin : 30px 0px 20px 0px;
}

.content_wrap .main_title span{
    color : #CC985F;
    font-size : 1.2rem;
    font-weight: bold;
}

.content_wrap h1 {
    font-size : 2.4rem;
    color : #fff;
    margin-top : 55px;
    margin-bottom : 25px;
}
.content_wrap p {
    font-size : 1.2rem;
    color : #fff;
}

/* footer */

footer {
    background-color : #111111;
    padding : 75px 0px 75px calc(50% - 550px);
    color : #ffffff;
    overflow : hidden;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding : 0;
}

footer ul li {
    list-style : none;
}

footer ul li a {
    color : #fff;   
}
footer ul li a:hover { 
    color : #fff;
}

footer .faq_wrap{
    display: flex;
    justify-content: space-between;
    padding : 0px 40px;
}

footer .faq_wrap a{
    font-size : 1.2rem;
    color : #fff;
    font-weight: bold;
    white-space: nowrap;
    margin-right : 10px;
}
footer .faq_wrap .btn a{ margin : 0;}
footer .faq_wrap a:hover{
    color : #fff;
}
footer .faq_wrap .btn{
    margin-top : -15px;
}
footer .faq_wrap .btn::before{
    content : "";
    width : 15px;
    height : 15px;
    background-image : url('../img/icon_tel.png');
    background-repeat: no-repeat;
    background-size : cover;
    position : absolute;
    margin-lefT : -25px;
    margin-top : 5px;
    
}
footer .faq_wrap .btn::after{
    content : none;
}

footer .site_info{
    margin-top : 75px;
    margin-bottom : 75px;
}
footer .footer_logo {
    margin-top : 50px;
}

footer .sns_wrap {
    display: flex;
    justify-content: flex-end;
    padding : 0px 60px;
}

footer .sns_wrap a{
    margin : 0 5px;

}
footer .privacy {
    display: flex;
    justify-content: flex-end;
    width : 100%;
    padding : 0px 60px;
    margin-top : 20px;
}
footer .privacy a{
    font-size : 0.8rem;
    color : #fff;
}


.spview{
    display : none !important; 
}

@media (max-width : 768px){
    .spview{
        display : block !important;
    }
    .pcview{
        display : none !important;
    }
    body{display: inherit;}

    footer{ padding : 75px 0px;}
    footer .footer_logo{display : block; margin : 0px auto 50px auto;}
    footer .faq_wrap{
        text-align: center;
        max-width : 100%;
        flex : 0 0 100%;
    }
    footer .faq_wrap .btn{
        margin-top : 20px;
        margin-bottom : 30px;
    }
    footer small {
        display: block;
        text-align: center;
    }
    footer .sns_wrap,footer .privacy{
        justify-content: center;
        max-width : 100%;
        flex : 0 0 100%;
    }
    header {height : 55px;}
    .sp_nav_wrap{display : block;}
    .sp_nav_wrap a > img {width : 32px;}
    .sp_nav_wrap > img {float : right; width : 32px;}
}

/* tablet */
@media (min-width : 768px) and (max-width : 992px){
    footer {
        padding : 75px 100px;
    }
    footer .col-md-7{
        max-width : 100%;
        flex : 0 0 100%;
    }
    footer .faq_wrap {
        max-width : 65%;
        flex : 0 0 65%;
        margin-top : 30px;
        padding : 15px;
    }
    header .main_pc_nav_wrap ul{
        width : 80%
    }
}


/* laptop */
@media (min-width : 992px) and (max-width : 1140px){
    footer {
        padding : 75px 100px;
    }
    footer .col-md-7{
        max-width : 100%;
        flex : 0 0 100%;
    }
    footer .faq_wrap {
        max-width : 65%;
        flex : 0 0 65%;
        margin-top : 30px;
        padding : 15px;
    }
}