<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>김민우 포트폴리오.</title>

    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/html5div.js"></script>
    <script type="text/javascript" src="js/typed.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/TweenMax.min.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="js/jquery.easypiechart.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
</head>

<body>
    <div class="preloader" id="preloader" style="background-color: black;">
        <div class="item">
            <img src="img/loading.gif">
        </div>
    </div>

    <header>
        <div class="inner">
            <h1><a class="logo" href="#home">Minwoo Kim</a></h1>
            <button class="nav_toggle">
                <div class="nav_icon">
                    <span></span><span></span><span></span>
                </div>
            </button>
            <nav>
                <ul class="nav">
                    <li><a data-parent="#home" data-scroll="home">home</a></li>
                    <li><a data-parent="#about" data-scroll="about">about</a></li>
                    <li><a data-parent="#skills" data-scroll="skills">skills</a></li>
                    <li><a data-parent="#portfolio" data-scroll="portfolio">portfolio</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="wrapper">
        <div id="overlay"></div>
    </div>

    <section id="home">
        <div class="inner">
            <div class="type-wrap">
                <span class="typed"></span>
            </div>
            <hr>
            <p>Welcome to my Portfolio.</p>
            <div class="scroll_down">
                <a href="#about" class="animated bounce">
                    <i class="arrow-down text-white"></i>
                </a>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="cnt_inner">
            <h2>About</h2>
            <p class="border">★</p>
            <div class="desc_box">
                <div class="desc lt onScroll inUp">
                    <div class="icon">
                        <p>
                            <img src="img/about_icon01.png" alt="description" />
                        </p>
                    </div>
                    <b><strong>긍정적인 웹 퍼블리셔</strong></b><br>
                    항상 배우는 것을 좋아하며 <br>
                    더 발전하기 위해 항상 노력하고자 합니다.<br>
                    웹표준 및 웹접근성,<br>
                    markup에 준수하여 작업을 하고있으며, <br>
                    asp,jsp,php등을 이용한 작업이 가능합니다.
                </div>
                <div class="desc md onScroll inUp">
                    <div class="icon">
                        <p>
                            <img src="img/me.gif" alt="description /">
                        </p>
                    </div>
                    <b><strong>김민우 </strong></b><br>
                    거주지 : 경기도 의정부<br>
                    나이 : 29세 (1994.08.20)<br>
                    학력 : 구미대학교(유아교육과 졸업3년)<br>
                    구미 MS스포츠아카데미 (2019.02~2020.02) 유아체육<br>
                    (주)와플 (2020.03 ~ 2020.11) 유아체육,행사진행<br>
                    그린컴퓨터 아카데미 웹퍼블리셔(디자인) <br>
                    UI/UX과정 수료 (2020.12~2021.06)<br>
                    (주)팀마파 스타트업(2021.06~2021.8)<br>
                    React, React Native 퍼블리싱<br>
                    (주)더웹스타일 에이전시(2021.12~ 2022.03)<br>
                    asp,jsp,php 를 이용한 작업
                </div>

            </div>
        </div>
    </section>

    <section id="skills">
        <div class="cnt_inner">
            <h2>Skills</h2>
            <p class="border">✱</p>
            <ul class="skill">
                <li class="skill1">
                    <span class="chart" data-percent="95">
                        <span class="percent">95</span>
                    </span>
                    <span class="txt">HTML<br>
                        웹표준 및 웹접근성을 <br>
                        준수하여 마크업 합니다.</span>
                </li>
                <li class="skill2">
                    <span class="chart" data-percent="95">
                        <span class="percent">95</span>
                    </span>
                    <span class="txt">CSS3<br>
                        속성을 이해하고 있으며 <br>
                        시안에 따라 구현이 가능하며<br>
                        미디어쿼리를 이용한 <br>
                        반응형 웹 제작이 가능합니다.
                    </span>
                </li>
                <li class="skill3">
                    <span class="chart" data-percent="75">
                        <span class="percent">60</span>
                    </span>
                    <span class="txt">Javascript<br>
                        ES6 문법를 이해하고 있으며<br>
                        계속 문법에 대해 공부중입니다.</span>
                </li>
                <li class="skill4">
                    <span class="chart" data-percent="70">
                        <span class="percent">70</span>
                    </span>
                    <span class="txt">React / React Native<br>
                        (주)팀마파 3개월<br>
                        Android Studio <br>
                        React Native 퍼블리싱을 했습니다.</span>
                </li>
            </ul>
        </div>
    </section>
    <section id="portfolio">
        <div class="cnt_inner">
            <h2>Portfolio</h2>
            <p class="border">✱</p>

            <div class="grid">
                <div class="list responsive" data-category="responsive">
                    <div class="pf_cnt">
                        <div class="cnt">
                            <img src="img/banner5.jpg" alt="golden">
                        </div>
                        <div class="caption" onclick="window.open('./gumi/index.html')">
                            <h3>구미시청소년수련관</h3>
                            <p>첫 작업<br>퍼블리싱 100% <br>작업기간 : 5일<br>
                                웹표준 / 웹접근성<br />
                                html / css / j-query</p>

                        </div>
                    </div>
                    <h3>구미 청소년수련관</h3>
                </div>
                <div class="list responsive" data-category="responsive">
                    <div class="pf_cnt">
                        <div class="cnt">
                            <img src="img/portfolio-2.gif" alt="food">
                        </div>
                        <div class="caption" onclick="window.open('./food/index.html')">
                            <h3>푸드어택(메인,기획전,행사소개)</h3>
                            <p>퍼블리싱 80%<br>
                                작업기간 : 10일<br>
                                반응형 / 웹표준 / 웹접근성<br>
                                html / css / j-query / javascript<br>
                            </p>

                        </div>
                    </div>
                    <h3>푸드어택(메인,기획전,행사소개)</h3>
                </div>
                <div class="list responsive" data-category="responsive">
                    <div class="pf_cnt">
                        <div class="cnt">
                            <img src="img/portfolio-3.gif" alt="golden">
                        </div>
                        <div class="caption" onclick="window.open('./golden/index.html')">
                            <h3>goldenbrown</h3>
                            <p>퍼블리싱 100%<br>작업기간 : 8일<br>
                                BootStrap과 display:flex <br>
                                에 대하여 이해하게 되었습니다<br>
                                html / css / javascript / j-query</p>

                        </div>
                    </div>
                    <h3>골든 브라운</h3>
                </div>
                <div class="list responsive" data-category="responsive">
                    <div class="pf_cnt">
                        <div class="cnt">
                            <img src="img/portfolio-4.gif" alt="lauv">
                        </div>
                        <div class="caption" onclick="window.open('./lauv/index.html')">
                            <h3>lauv</h3>
                            <p>퍼블리싱 100%<br>작업기간 : 3일<br>
                                원페이지를 제 아이디어로 <br>
                                제작해봤습니다.<br>
                                html / css / BootStrap / javascript</p>

                        </div>
                    </div>
                    <h3>Lauv</h3>
                </div>
                <div class="list responsive" data-category="responsive">
                    <div class="pf_cnt">
                        <div class="cnt">
                            <img src="img/golden.PNG" alt="goldenblue">
                        </div>
                        <div class="caption" onclick="window.open('http://www.goldenblue.co.kr/index.php/index/main')">
                            <h3>골든블루</h3>
                            <p>더 웹스타일<br>
                                근무 당시 영문/국문 페이지 유지/보수를 진행하였습니다.</p>

                        </div>
                    </div>
                    <h3>골든블루</h3>
                </div>
                <div class="list responsive" data-category="responsive">
                    <div class="pf_cnt">
                        <div class="cnt">
                            <img src="img/yakedu.PNG" alt="yakedu">
                        </div>

                        <div class="caption" onclick="window.open('http://www.yakedu.or.kr/index.asp')">

                            <h3>한국과학우주청소년단</h3>
                            <p>더웹스타일<br>
                                근무 당시 소통,과학교육,YAK소개<br>
                                페이지를 맡아서 퍼블리싱을 하였습니다.</p>

                        </div>
                    </div>
                    <h3>한국과학우주청소년단</h3>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="cnt_inner">
            <a href="javascript:;" class="btnTop">
                <span class="blind">top</span>
                <canvas id="canvas" width="40" height="40"></canvas>
            </a>
            Thanks for visiting my Website.<br>
            Copyright ⓒ 2021. Minwoo All rights reserved.
        </div>
    </footer>

    <script>
        $(function () {
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            var end = 0;
            function drawScreen(end) {
                ctx.clearRect(0, 0, 40, 40);
                ctx.beginPath();
                ctx.strokeStyle = "#355070";
                ctx.lineWidth = 2;
                ctx.arc(20, 20, 19, (Math.PI / 180) * (0 - 90), (Math.PI / 180) * (end - 90), false);
                ctx.stroke();
                ctx.closePath();
            }
            drawScreen();
            $(window).on("scroll", function () {
                end = $(window).scrollTop() * 360 / ($(document).height() - $(window).height());
                drawScreen(end);
            });
        });
    </script>
</body>

</html>